<div class="col-md-12">
  <table [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" class="table table-bordered"
         datatable id="escrito">
    <thead class="fondo-grilla">
    <tr>
      <th>Documento</th>
      <th>Folio</th>
      <th>Fecha de presentación</th>
      <th>Tipo escrito</th>
      <th>Referencia</th>
    </tr>
    </thead>
    <tbody>
    <ng-container>
      <tr *ngFor="let item of escritos">
        <td class="centrado"><input class="imagen" type="image" src="assets/img/gallery/pdf.png"></td>
        <td>{{item.numeroFolio}}</td>
        <td>{{item.fechaPresentacion | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.tipoEscritoVO.glosa}}</td>
        <td>{{item.referencia}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

