th{
  background-color: #6f82bf;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.centrado{
  margin: auto;
  text-align: center;
}

.titulo{
  color: #0B173B;
}