.cambio-letra{
  color: white;
}

.fondo-grilla{
  background-color: #5360a9;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black!important;
  border-radius: 4px;
  border: 1px solid #828282;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: black!important;
}

///------------------------------------------------------------------////

.imagen{
  width: 40px;
}

.centrado{
  text-align: center;
}

th{
  background-color: #6f82bf;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}


