.fondo-grilla{
  background-color: #5360a9;
  color: white;
}

.imagen{
  width: 40px;
}

.centrado{
  text-align: center;
}

th{
  background-color: #6f82bf;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}