<div class="wrapper wrapper--w680">
  <div class="card card-1">
    <div class="card-body">
      <form [formGroup]="creaForm">
        <div class="input-group div-padre">
          <label><b>Modifique su correo: </b></label>
          <input class="input--style-1" type="email" formControlName="correo">
        </div>
        <div class="input-group div-padre">
          <label><b>Ingrese nueva contraseña: </b></label>
          <input class="input--style-1" type="password" formControlName="password">
        </div>
      </form>
      <div class="div-padre">
        <div class="div-hijo">
          <button class="btn btn--radius btn--green" (click)="modificarUsuario()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
